.modal-body > form > p {
  margin: 1.25rem 0;
}

.modal-body > p {
  text-align: right;
  font-weight: 400;
  cursor: pointer;
}

.modal-body input {
  margin: 0 1rem;
}

.group-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
