.modal-body h2 {
  margin-bottom: 1rem;
}

.form-row {
  margin-bottom: 1rem;
  width: 20rem;
  display: flex;
  align-items: center;
}

.form-row label {
  flex-basis: 40%;
}
.form-row input {
  flex-basis: 60%;
}

.group-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
