* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.3);
  --color-black: #000;

  --glass-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.25);
  --glass-blur: blur(4.5px);
  --glass-border: 1px solid rgba(255, 255, 255, 0.18);

  --transition: all 400ms ease;

  --container-width-lg: 98%;
  --container-width-md: 96%;
  --container-width-sm: 96%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  /*BLUE*/
  /*background-image: linear-gradient(
    45deg,
    hsl(222deg 88% 29%) 0%,
    hsl(217deg 89% 30%) 11%,
    hsl(212deg 90% 31%) 22%,
    hsl(207deg 91% 31%) 33%,
    hsl(202deg 93% 32%) 44%,
    hsl(197deg 93% 33%) 56%,
    hsl(192deg 94% 34%) 67%,
    hsl(187deg 95% 35%) 78%,
    hsl(182deg 97% 36%) 89%,
    hsl(177deg 98% 36%) 100%
  );*/
  /*background-image: linear-gradient(
    45deg,
    hsl(310deg 76% 50%) 0%,
    hsl(311deg 79% 55%) 26%,
    hsl(311deg 81% 60%) 39%,
    hsl(312deg 83% 65%) 50%,
    hsl(312deg 85% 71%) 61%,
    hsl(312deg 87% 76%) 74%,
    hsl(313deg 90% 81%) 100%
  );*/
  /*background: rgb(238, 174, 202);
  background: linear-gradient(
    0deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );*/
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(238, 174, 202, 1) 0%,
    rgba(152, 68, 183, 1) 51%,
    rgba(148, 187, 233, 1) 100%
  );
  animation: movingBg 20s ease infinite;

  font-family: "Lato", sans-serif;
  color: var(--color-white);
}

@keyframes movingBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ================== GENERAL STYLE ===================*/
.container {
  width: var(--container-width-lg);
  height: 100vh;
  margin: auto auto;
  position: relative;
}

.btn {
  color: var(--color-white);
  background: var(--color-light);
  cursor: pointer;
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--glass-blur);
  border: var(--glass-border);
}

.btn-circle {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 1px;
}

.btn-square {
  width: 4.5rem;
  height: 2.4rem;
  border-radius: 0.25rem;
}

input {
  color: var(--color-white);
  background: var(--color-light);
  border-radius: 0.25rem;
  width: 5rem;
  padding: 0.75rem 1rem;
}
input:focus-visible {
  outline: none;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  font-weight: 700;
}

.modal-body {
  background: var(--color-light);
  color: var(--color-white);
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
